#logo-image {
  height: 64px;
  width: 64px;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}
.toast-success {
  background-color: #ee6e73;
}
#toast-container {
  margin-right: 0;
}
.btn {
  background-color: #ee6e73;
}
.brand-logo {
  height: 65px;
}
.padd {
  margin-left: 65px;
}
.card.col.s6.m3 {
  position: relative;
  left: calc(100% - 350px);
}
.custom-container {
  padding-top: 25px;
}
