//
   Created by Andreea Stan on 3/12/2016.
doctype
html
    head
        title Andreorumia Restaurant
        base(href="/")
        link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
        link(rel="stylesheet", href="/vendor/Materialize/bin/materialize.css")
        link(rel="stylesheet", href="/vendor/toastr/toastr.css")
        link(rel="stylesheet", href="/css/style.css")
    body(ng-app="app")
        header
        nav(ng-controller="loginCtrl")
            div.nav-wrapper
                ul
                    li
                        a.brand-logo(href="/")
                            img(src="/favicon.ico" id="logo-image")
                    li.padd(ng-show="identity.currentUser.isAdmin()")
                        a(href="/admin/users") Admin
                ul.right
                    li(ng-hide="identity.isAuthenticated()")
                        a(href="/" ng-click="identity.showCard = true;") Login
                    li(ng-show="identity.isAuthenticated()")
                        a(href="/" ng-click="logout()") Logout
        main
            include currentUser
            div(ng-include="'/partials/account/navbar-login'")
            block main-content
        footer.page-footer
            div.container
                div.row
                    h6.white-text Andreorumia Restaurant - The restaurant of your dreams
            div.footer-copyright
                div.contaier © 2016 - Andreorumia, All rights reserved.
        include scripts
